<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Stream</title>
    <link rel="stylesheet"  type="text/css" href="video.css">
</head>
<body>
    <div class="video-container">
        <video autoplay id="remote-video" class="remote-video"></video>
        <video autoplay class="local-video" id="local-video"></video>
    </div>
    <script src="video.js"></script>
</body>
</html>